<div class="wrapper">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <app-conent-header></app-conent-header>
    <!-- /.content-header -->

        <!-- Main content -->
        <router-outlet></router-outlet>
        <!-- /.content -->
        
  </div>
  <!-- /.content-wrapper -->

  <!-- Content Wrapper. Contains page content -->

  <app-footer></app-footer>

<!-- ./wrapper -->
