<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">

            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">

                <div class="form-group">
                  <label for="Patient Name">Patient Name</label>
                  <select class="form-control">
                    <option selected>Open this select menu</option>
                    <option value="1">Omar hassan</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="Doctor Name">Doctor Name</label>
                  <select class="form-control">
                    <option selected>Open this select menu</option>
                    <option value="1">Mohammed kamal</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="Date">Date</label>
                  <input type="Date" value="02 / 13 / 2022"  class="form-control" id="Date" placeholder="Enter Date">
                </div>

                <div class="form-group">
                  <label for="SessionTime">SessionTime</label>
                  <input type="number" value="15"  class="form-control" id="SessionTime" placeholder="Enter SessionTime">
                </div>

                <div class="form-group">
                  <label for="WaitingTime">WaitingTime</label>
                  <input type="number" value="5"  class="form-control" id="WaitingTime" placeholder="Enter WaitingTime">
                </div>

                <div class="form-group">
                  <label for="Period">Period</label>
                  <select class="form-control">
                    <option selected>Open this select menu</option>
                    <option value="1">Morning</option>
                  </select>
                </div>

              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>